In [1]:
import pyodbc
import pandas as pd

In [2]:
conn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};'
                      'SERVER=LAPTOP-QUYNH\MSSQLSERVER1;'   
                      'DATABASE=AdventureWorks2022;'
                      'PWD=123456;'
                      'Trusted_Connection=yes;')
df = pd.read_sql_query('SELECT * FROM BikeSales1', conn)
print(df)

C:\Users\User\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

       ProductID  CustomerID  SalesOrderID  OrderQty Class UnitPrice  \
0            749       29994         43662         1    H    2146.96
1            749       29646         43689         2    H    2146.96
2            749       30042         43868         1    H    2146.96
3            749       29703         43873         2    H    2146.96
4            749       29724         43883         1    H    2146.96
...          ...         ...           ...       ...   ...       ...
24821        999       29676         71914         1    L     323.99
24822        999       30034         71925         4    L     323.99
24823        999       29546         71938         4    L     323.99
24824        999       29873         71941         3    L     323.99
24825        999       29715         71948         3    L     323.99

      UnitPriceDiscount  OrderDate                  StoreName          Region  \
0                  0.00 2011-05-31        Health Spa, Limited          Canada
1                  0.00 2011-05-31          Fitness Toy Store   United States
2                  0.00 2011-07-01              Major Cycling          Canada
3                  0.00 2011-07-01            Preferred Bikes   United States
4                  0.00 2011-07-01          Lease-a-Bike Shop   United States
...                 ...        ...                        ...             ...
24821              0.00 2014-05-01    Very Best Sports Supply         Germany
24822              0.00 2014-05-01          Sellers of Cycles   United States
24823              0.00 2014-05-01        Bulk Discount Store  United Kingdom
24824              0.00 2014-05-01   Certified Bicycle Supply   United States
24825              0.00 2014-05-01  Excellent Riding Supplies   United States

       Totalsale
0       2146.962
1       4293.924
2       2146.962
3       4293.924
4       2146.962
...          ...
24821    323.994
24822   1295.976
24823   1295.976
24824    971.982
24825    971.982

[24826 rows x 11 columns]

In [3]:
df

,ProductID,CustomerID,SalesOrderID,OrderQty,Class,UnitPrice,UnitPriceDiscount,OrderDate,StoreName,Region,Totalsale
0,749,29994,43662,1,H,2146.96,0.00,2011-05-31,"Health Spa, Limited",Canada,2146.962
1,749,29646,43689,2,H,2146.96,0.00,2011-05-31,Fitness Toy Store,United States,4293.924
2,749,30042,43868,1,H,2146.96,0.00,2011-07-01,Major Cycling,Canada,2146.962
3,749,29703,43873,2,H,2146.96,0.00,2011-07-01,Preferred Bikes,United States,4293.924
4,749,29724,43883,1,H,2146.96,0.00,2011-07-01,Lease-a-Bike Shop,United States,2146.962
...,...,...,...,...,...,...,...,...,...,...,...
24821,999,29676,71914,1,L,323.99,0.00,2014-05-01,Very Best Sports Supply,Germany,323.994
24822,999,30034,71925,4,L,323.99,0.00,2014-05-01,Sellers of Cycles,United States,1295.976
24823,999,29546,71938,4,L,323.99,0.00,2014-05-01,Bulk Discount Store,United Kingdom,1295.976
24824,999,29873,71941,3,L,323.99,0.00,2014-05-01,Certified Bicycle Supply,United States,971.982
24825,999,29715,71948,3,L,323.99,0.00,2014-05-01,Excellent Riding Supplies,United States,971.982

In [4]:
df.to_csv('BIKE_SALES_CK.csv', index=False)